:root {
    --blue-header: #425161;
    --green-acua: #1ABC9C;
    --blue-footer: #3A546D;
}

/**********
HEADER 
***********/

.header1 {
    background-color: var(--blue-header);
    height: 90px;
}

/**********
HERO
***********/

.hero {
    padding: 62px;
    background-color: var(--green-acua);
}

/**********
PORTFOLIO
***********/

.portfolio {
    padding:  85px;
}

/**********
ABOUT
***********/

.my-container1 {
    width: 60%;
}

.about {
    background-color: var(--green-acua);
    padding: 80px 0 50px;
}

.debug .about-card {
    background-color: blue;
    height: 100px;
    border: 1px solid black;
}

/**********
CONTACT
***********/

.contact {
    padding: 90px 0 50px;
}

.contact .col-12 {
    background-color: white!important; 
}

.border-bottom-grey {
    border-bottom: 1px solid grey!important;
}

/**********
DEBUG
***********/

.debug [class^="col"] {
    background-color: red;
    height: 50px;
}

.debug .header-col {
    width: 200px;
    background-color: orange;
}

.debug .hero-card {
    background-color: aqua;
    height: 464px;
    width: 60%;
}

.debug .portfolio-card {
    background-color: greenyellow;
    height: 200px;
}

.debug .col-12.text-center {
    background-color: white;
    height: auto;
}

.debug .about-card {
    height: 80px;
    background-color: white;
}